{% extends "base.html" %}
{% load bootstrap5 %}
{% load date %}
{% block content %}
<h2>Create Game Page:</h2>
<form action="{% url 'bid:create_game' %}" method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label for="date" class="form-label">Date</label>
      <input type="text" value="{{ latestGameDate }}" class="form-control" name="date" id="date" required>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Month</label>
      <select class="form-select" name="month">
        <option value="04" {% if latestGameMonth == 04 %} selected {% endif %}>April</option>
        <option value="05" {% if latestGameMonth == 05 %} selected {% endif %}>May</option>
        <option value="06"{% if latestGameMonth == 06 %} selected {% endif %}>June</option>
        <option value="07"{% if latestGameMonth == 07 %} selected {% endif %}>July</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Time</label>
      <select class="form-select" name="time">
        <option value="19:00:00" {% if latestGameTime == '19:00:00' %} selected {% endif %}>7:30</option>
        <option value="15:00:00" {% if latestGameTime == '15:00:00' %} selected {% endif %}>3:30</option>
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Team 1:</label>
      <select class="form-select" name="team1">
        {% for team in teams %}
          <option value="{{ team.1 }}">{{ team.0 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3">
      <label for="date" class="form-label">Team 2:</label>
      <select class="form-select" name="team2">
        {% for team in teams %}
          <option value="{{ team.1 }}">{{ team.0 }}</option>
        {% endfor %}
      </select>
    </div>
    <div class="mb-3 form-check">
      <input type="checkbox" class="form-check-input" name="isPlayOffs" id="playOffsCheck">
      <label class="form-check-label" for="playOffsCheck">PlayOffs Game</label>
    </div>
    <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" name="add" id="exampleCheck1">
        <label class="form-check-label" for="exampleCheck1">Add Another Game</label>
      </div>
    <button type="submit" class="btn btn-primary">Submit</button>
  </form>
  <br/>
  <br/>
  <br/>
{% endblock %}