{% extends "base.html" %}
{% load bootstrap3 %}
{% load date %}
{% load static %}
{% block content %}
<h2><span {% if game.winner %}style="color:{% if game.winner == game.team1 %}green{% else %}red{% endif %}"{% endif %}><img style="width: 50px; height: 50px;" src="{% static 'bid/img/' %}{{ game.team1 }}.png" alt="Italian Trulli"> {{ game.team1 }}</span> vs <span {% if game.winner %}style="color:{% if game.winner == game.team2 %}green{% else %}red{% endif %}"{% endif %}><img style="width: 50px; height: 50px" src="{% static 'bid/img/' %}{{ game.team2 }}.png" alt="Italian Trulli"> {{ game.team2 }}</span></h2>
<table class="table table-striped contents" style="font-size:80%;text-align:left;">
    <thead>
    <tr>
        <th scope="col">Name</th>
        <th scope="col">Team</th>
        <th scope="col">Bid Amount</th>
        <th scope="col">Status</th>
    </tr>
    </thead>
    <tbody>
    {% for obj in listObj %}
        <tr>
            <td><a href="{% url 'bid:user' obj.user.pk %}">{{ obj.name }}</a></td>
            <td><span>{{ obj.team }}</span></td>
            <td>{{ obj.amount }}</td>
            {% if obj.did_not_bid %}
                <td>No Bid</td>
            {% else %}
                {% if game.completed %}
                    {% if obj.won %}
                        <td style="color:green">Won</td>
                    {% else %}
                        <td style="color:red">Lost</td>
                    {% endif %}
                {% else %}
                    <td>Not Decided</td>
                {% endif %}
            {% endif %}
        </tr>
    {% endfor %}
    </tbody>
</table>
{% endblock %}