{% extends "base.html" %}
{% load bootstrap5 %}
{% load customTags %}
{% block content %}
<h2>Scores:</h2>
<table class="table table-striped contents" style="font-size:100%;text-align:left;overflow: scroll;">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Amount Won</th>
        <th scope="col">Amount Used</th>
        <th scope="col">Profit</th>
        <th scope="col">Win Percentage</th>
    </tr>
    </thead>
    <tbody>
    {% for score in scores %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td>{{ score.name }}</td>
            <td {% if score.profit > 0 %} style="color: green;" {% elif score.profit < 0 %} style="color: red;" {% endif %}>{{ score.score }}</td> 
            <td>{{ score.amount_used }}</td> 
            <td {% if score.profit > 0 %} style="color: green;" {% elif score.profit < 0 %} style="color: red;" {% endif %}>{{ score.profit }}</td>
            <td {% if score.profit > 0 %} style="color: green;" {% elif score.profit < 0 %} style="color: red;" {% endif %}>{{ score.percentage }}</td> 
        </tr>
    {% endfor %}
    </tbody>
</table>
<br/><br/>
<h2>Matches: </h2>
<table class="table table-striped contents" style="font-size:100%;text-align:left;overflow: scroll;">
    <thead>
    <tr>
        <th scope="col">#</th>
        <th scope="col">Match</th>
        <th scope="col">First</th>
        <th scope="col">Second</th>
        <th scope="col">Third</th>
        <th scope="col">Fourth</th>
    </tr>
    </thead>
    <tbody>
    {% for match in matches %}
        <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'bid:game_detail' match.game.pk %}">{{ match.game.name }}</a></td>
            <td {% if not match.first %} style="color: red" {% endif %}>{{ match.first|nameCheck }}</td>
            <td {% if not match.second %} style="color: red" {% endif %}>{{ match.second|nameCheck }}</td>
            <td {% if not match.third %} style="color: red" {% endif %}>{{ match.third|nameCheck }}</td>
            <td {% if not match.fourth %} style="color: red" {% endif %}>{{ match.fourth|nameCheck }}</td>
        </tr>
    {% endfor %}
    </tbody>
</table>
<div class="pagination" id="pagination">
    <nav aria-label="...">
        <ul class="pagination">
          
        <li class="page-item {% if not matches.has_previous %} disabled {% endif %}">
            <a class="page-link" href="?page={% if matches.has_previous %}{{ matches.previous_page_number }}{% endif %}">Previous</a>
        </li>
          <li class="page-item {% if not matches.has_next %} disabled {% endif %}">
            <a class="page-link" href="?page={% if matches.has_next %}{{ matches.next_page_number }}{% endif %}">Next</a>
          </li>
        </ul>
      </nav>
</div>
<br/>
<br/>
<br/>
{% endblock %}
