{% extends "base.html" %}
{% load bootstrap5 %}
{% load date %}
{% block content %}
    <svg onclick="goBack();" xmlns="http://www.w3.org/2000/svg" width="30px" height="30px" fill="currentColor" class="bi bi-arrow-left-square-fill" viewBox="0 0 16 16">
        <path d="M16 14a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h12a2 2 0 0 1 2 2v12zm-4.5-6.5H5.707l2.147-2.146a.5.5 0 1 0-.708-.708l-3 3a.5.5 0 0 0 0 .708l3 3a.5.5 0 0 0 .708-.708L5.707 8.5H11.5a.5.5 0 0 0 0-1z"/>
    </svg>
    <br/>
    <br/>
    <h2>{{ result_user.user.first_name.capitalize }}'s Bid History</h2>
    <h5>Amount: {{ result_user.amount }}</h5>
    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
        Stats
      </button>
      
      <!-- Modal -->
      <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
          <div class="modal-content">
            <div class="modal-header">
              <h5 class="modal-title" id="exampleModalLabel">{{ result_user.user.first_name.capitalize }}'s Chart</h5>
              <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close">
                
              </button>
            </div>
            <div class="modal-body">
                <canvas id="myChart" width="400" height="400"></canvas>
            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            </div>
          </div>
        </div>
      </div>
      <div class="filter-container">
        <div class="flex-1">
            <label for="status" class="form-label">Status:</label>
            <select id="status-field" name="status" class="form-select" aria-label="Default select example" onchange="changeParams();" style="font-size: 75%">
                <option value="no">No Filter</option>
                <option value="won">Won</option>
                <option value="lost">Lost</option>
                <option value="not_completed">Not Completed</option>
                <option value="cancelled">Cancelled</option>
            </select>
        </div>
        <div class="flex-2">
            <label for="team" class="form-label">Team:</label>
            <select id="team-field" name="year" class="form-select" aria-label="Default select example" onchange="changeParams();" style="font-size: 75%">
                <option value="no">No Filter</option>
                {% for team in teams %}
                    <option value="{{ team.0 }}">{{ team.1 }}</option>
                {% endfor %}
            </select>
        </div>
      </div>
    </br>
    <table class="table table-striped contents" style="font-size:80%;text-align:left;">
        <thead>
        <tr>
            <th scope="col">Name</th>
            <th scope="col">Team</th>
            <th scope="col">Bid</th>
            <th scope="col">Status</th>
            <th scope="col">Result</th>
        </tr>
        </thead>
        <tbody>
        {% for result in results %}
            <tr>
                <td><a href="{% url 'bid:game_detail' result.game.pk %}">{{ result.game.name }}</a></td>
                <td>{{ result.team }}</td>
                <td>{{ result.bid_amount }}</td>
                {% if result.did_not_bid %}
                    {% if not result.cancelled %}
                        <td style="color: red">-1000</td>
                    {% else %}
                        <td style="color: orange">-1000 (NO Bid)</td>
                    {% endif %}
                {% else %}
                    {% if result.game.completed %}
                        {% if result.won %}
                            <td style="color: green">+{{ result.bid_amount }}</td>
                        {% elif result.cancelled %}
                            <td style="color: orange">N/A</td>
                        {% else %}
                            <td style="color: red">-{{ result.bid_amount }}</td>
                        {% endif %}
                    {% else %}
                        <td>Not Decided</td>
                    {% endif %}
                {% endif %}
                {% if result.completed %}
                    {% if not result.cancelled %}
                        {% if result.won %}
                            <td style="color:green">Won</td>
                        {% elif result.did_not_bid %}
                            <td style="color:red">No Bid</td>
                        {% else %}
                            <td style="color:red">Lost</td>
                        {% endif %}
                    {% else %}
                        <td style="color:orange">Cancelled</td>
                    {% endif %}
                {% else %}
                    <td>N/A</td>
                {% endif %}
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="pagination" id="pagination">
        <nav aria-label="...">
            <ul class="pagination">
              
            <li class="page-item {% if not results.has_previous %} disabled {% endif %}">
                <a class="page-link" href="?status={{ status }}&team={{ team }}&page={% if results.has_previous %}{{ results.previous_page_number }}{% endif %}">Previous</a>
            </li>
              <li class="page-item {% if not results.has_next %} disabled {% endif %}">
                <a class="page-link" href="?status={{ status }}&team={{ team }}&page={% if results.has_next %}{{ results.next_page_number }}{% endif %}">Next</a>
              </li>
            </ul>
          </nav>
    </div>
    <br/>
    <br/>
{% endblock %}

{% block script %}
<script>
    const ctx = document.getElementById('myChart').getContext('2d');
    const all_teams = JSON.parse('{{ all_teams|convertToJson }}')
    const myChart = new Chart(ctx, {
        type: 'line',
        data: {
            labels: {{ result_user.chart.0|safe }},
            datasets: [{
                label: 'Amount',
                data: {{ result_user.chart.1|safe }},
                borderColor: [
                    'rgba(255, 99, 132, 1)',
                    'rgba(54, 162, 235, 1)',
                    'rgba(255, 206, 86, 1)',
                    'rgba(75, 192, 192, 1)',
                    'rgba(153, 102, 255, 1)',
                    'rgba(255, 159, 64, 1)'
                ],
                borderWidth: 1
            }]
        },
        options: {
            scales: {
                y: {
                    beginAtZero: true
                }
            }
        }
    });
    const changeParams = () => {
        const status = document.getElementById('status-field').value;
        const team = document.getElementById('team-field').value;
        window.location.href = `{% url 'bid:user' user.pk %}?status=${status}&team=${team}`;
    }
    window.addEventListener('DOMContentLoaded', function() {
        const urlParams = new URLSearchParams(window.location.search);
        const statusField = document.getElementById('status-field');
        const teamField = document.getElementById('team-field');
        
        // Get the value from the URL parameter 'value'
        const status = urlParams.get('status');
        const team = urlParams.get('team');
        console.log("status", status);
        console.log("team", team);

        if (status) {
            if (status == "won") {
                statusField.value = "won";
            }
            else if (status == "lost") {
                statusField.value = "lost";
            }
            else if (status == "cancelled") {
                statusField.value = "cancelled";
            }
            else if (status == "not_completed") {
                statusField.value = "not_completed";
            }
            else {
                statusField.value = "no";
            }
        }
        else {
            statusField.value = "no";
        }
        if (team) {
            if (all_teams.includes(team)) {
                teamField.value = team;
            }
            else {
                teamField.value = "no";
            }
        }
        else {
            teamField.value = "no";
        }
        
      });
    const goBack = () => {
        window.history.back();
    }
    </script>
{% endblock script %}
{% block style %}
    <style>
        .filter-container {
            display: flex;
            margin-left: 30%;
        }
        .flex-1 {
            flex: 1;
            padding-left: 10px;
        }
        .flex-2 {
            flex: 0.8;
            padding-left: 10px;
        }
    </style>
{% endblock %}   