{% extends "base.html" %}
{% block content %}
    <h2>LeaderBoard</h2>
    <table class="table table-striped contents" style="font-size:100%;text-align:left;">
        <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Name</th>
            <th scope="col">Amount</th>
            <th scope="col">Win Percentage</th>
        </tr>
        </thead>
        <tbody>
        {% for current_user in users %}
            <tr {% if current_user.user.pk == user.pk %}style="background:rgb(237, 209, 237)"{% endif %}>
                <td>{{ forloop.counter }}</td>
                <td><a href="{% url 'bid:user' current_user.pk %}">{{ current_user.user.first_name.upper }} {{ current_user.user.last_name.upper }}</a></td>
                <td>{{ current_user.amount }}</td> 
                <td {% if current_user.win_percentage < 50 %} style="color:red" {% else %} style="color:green" {% endif %}>{{ current_user.win_percentage }}%</td> 
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}