{% extends 'base.html' %}
{% load bootstrap3 %}
{% block content %}
<h3>Password Reset:</h3><br/>
<form method="POST" action="{% url 'password_reset' %}">
    {% csrf_token %}
    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" name="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter Registered Email">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock content %}